git+https://github.com/openai/CLIP.git
protobuf==3.20.3 
torch 
compressai==1.1.5  
scipy==1.7.3 
numpy  
motmetrics  
shapely  
pyclipper   
tqdm 
scikit-learn
pycocotools 
ipython 
cython 
yacs 
faiss-cpu 
torchvision  
openpyxl 
tabulate 
pysodmetrics 
cython_bbox 
transformers  
lap 
pybind11 
mmcv-full  
tensorflow 
easydict 
lvis 
terminaltables
pytest
pytest-html
pytest-merge-html
crayons